{% extends "paginas/base.html" %}
{% block custom_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
{% endblock %}
{% block title %}Solucion{% endblock %}
{% block content%}
<h1> Editar Perfil</h1>
<li><a class="el" href="{% url 'perfil'%}">atras</a></li>

<div>
    <form action="" enctype="multipart/form-data" method="post">
    <h3>Informacion Personal</h3>
    {% csrf_token %}
    {{ form.as_p }}
    <h2>{{error}}</h2>
    <button>Editar</button>
    </form>
</div>



{% endblock %}