{% extends "paginas/base.html" %}
{% block custom_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
{% endblock %}
{% block title %}Resgistro de Usuario{% endblock %}
{% block content %}
<div>
    
    
    <form enctype="multipart/form-data" method="post" action="">
        <h3>FORMULARIO DE REGISTRO</h3>
        
        {% csrf_token %}
        {{ form.as_p }}
        <h2>{{error}}</h2>
        <button type="submit" id="submit">Guardar</button>
    </form>
</div>
{% endblock %}